Repository Mirkadoi/tech-rate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": [
      "eslint --fix"
    ],
    "*.{html,css,scss,json}": [
      "prettier --write"
    ]
}

Правит отображение сабтатйтла на главной в блоке превью
  src/views/Home/_components/Preview.vue
  src/views/Home/requests.js
Due: eslint --fix

Фиксирует промежуточную версию - 0.12.0
  package.json
Due: prettier --write

Правит содержание дисклеймера
  src/App.vue
  src/views/Blogs/_components/BlogAbout.vue
  src/views/Desclimer/index.vue
Due: eslint --fix

Правит отступы на странице о нас и десклеймер
  src/views/About/index.vue
  src/views/Desclimer/index.vue
Due: eslint --fix

Фиксирует промежуточную версию - 0.13.0
  package.json
Due: prettier --write

Центрирует дисклеймер
  src/views/Desclimer/index.vue
Due: eslint --fix

Обновляет фавикон
  package.json
  public/favicon.ico
  public/favicons/android-chrome-192x192.png
  public/favicons/apple-touch-icon.png
  public/favicons/favicon-16x16.png
  public/favicons/favicon-32x32.png
  public/favicons/favicon.ico
  public/index.html
  public/manifest.json
Due: prettier --write

Настройки бека для развертывания фронта
  Dockerfile
  docker-compose.yml
  nginx/nginx.conf
Due: none

Обновляет тайтл и описание
  package.json
  public/images/social-meta-card.png
  public/index.html
Due: prettier --write

Фиксирует версию релиза - 1.0.0
  package.json
Due: prettier --write

Обновляет столбцы таблиц на главной
  src/components/ui/Chips.vue
  src/views/Home/_components/Preview.vue
  src/views/Home/_components/Table.vue
Due: eslint --fix

Обновляет дропдаун в таблице на главной
  src/views/Home/_components/Table.vue
Due: eslint --fix

Добавляет n/a для пустых столбцов
  src/views/Home/_components/Table.vue
Due: eslint --fix

Вносит правки в таблицу по комментариям
  src/views/Home/_components/Table.vue
Due: eslint --fix

Вносит правки в сортировку по комментариям
  src/views/Home/_components/Table.vue
Due: eslint --fix

Update docker ports for dev
  docker-compose.dev.yml
Due: none

Add docker-compose for dev
  Dockerfile
  docker-compose.dev.yml
  nginx/nginx.conf
Due: none

Добавляет стобец индекса
  src/views/Home/_components/Table.vue
Due: eslint --fix

Правит центровку столбца
  src/views/Home/_components/Table.vue
Due: eslint --fix

Правит отображение числа
  src/views/Home/_components/Preview.vue
Due: eslint --fix

Обновляет фото Эмиля
  src/views/About/_images/Emil.jpeg
Due: none

Добавляет переход на defisec
  src/assets/icons/ds-amember-badge.svg
  src/components/layout/footer/BrandInfo.vue
Due: eslint --fix

Меняет мета картинку и кол-во отображаемых блогов
  public/images/social-meta-card.png
  src/views/Blogs/_components/BlogCategory.vue
Due: eslint --fix

Обновляет логику отображения колапса на странице блогов
  src/views/Blogs/_components/BlogCategory.vue
Due: eslint --fix
